html {
    font-size: 1rem;
}

body{
    position: relative;
}

@media (min-width: 576px) {
    html {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}

.introduce-bg1{
    background-image: url("../images/introduce-bg1.jpg");
    background-size: cover;
    width: 100%;
}

.introduce-bg2{
    background-color: #D1D0F8;
    padding: 60px;
}

.mtb-30{
    margin: 120px 0 30px 0;
}

.menu-tab{
    width: 70%;
}

.content{
    display: none;
}

#nav-spy{
    background-color: rgba(70, 70, 70, 0.6);
}

#nav-spy a{
    color: #ffffff;
}

@media (max-width: 370px){
    #nav-spy button{
        padding: 2px;
    }

    #nav-spy a.navbar-brand{
        margin-right: 0px;
    }
}

.banner-block{
    position: absolute;
    top: 40%;
    left: -40%;
}

.food-bg{
    background-image: url("../images/food-bg.png");
    background-repeat: no-repeat;
}

.blockquote-footer{
    color: #145c5c;
    margin-top: 30px;
}

.block-title{
    padding: 10px;
    font-weight: 300;
    color: #006A73;
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.4);
}

.menu-tab td, .menu-tab th{
    vertical-align: middle;
    text-align: center;
    border: 0px none;
}

.menu-tab tr{
    white-space: nowrap;
}

.list-bg{
    background-color: #F5F5F5;
}

@media (min-width: 992px) {
    .list-bg{
        padding: 100px
    }
}


.list-content-bg{
    background-color: #E4E4E4;
    padding: 100px
}

.content-form{
    background-color: #E0E0E0;
    padding: 50px
}

.page-footer{
    background-color: #C3C3C3;
    color: #FFFFFF;
    padding: 30px
}

#toTop{
    position: fixed;
    bottom: 20px;
    right: 5px;
    display: none;
    background-image: url("../images/gotop.png");
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media (max-width: 575px) {
    .content-form .form-control-lg{
        font-size: 1rem;
    }
}